@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

--blue: #007bff;
--breakpoint-lg: 992px;
--breakpoint-md: 768px;
--breakpoint-sm: 576px;
--breakpoint-xl: 1200px;
--breakpoint-xs: 0;
--cyan: #17a2b8;
--danger: #dc3545;
--dark: #343a40;
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--gray: #6c757d;
--gray-dark: #343a40;
--green: #28a745;
--indigo: #6610f2;
--info: #17a2b8;
--light: #f8f9fa;
--orange: #fd7e14;
--pink: #e83e8c;
--primary: #007bff;
--purple: #6f42c1;
--red: #dc3545;
--secondary: #6c757d;
--success: #28a745;
--teal: #20c997;
--warning: #ffc107;
--white: #fff;
--yellow: #ffc107;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
